@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@import "reset.css";

/* Components */
@import "components/weather.css";
@import "components/todo.css";
@import "components/main.css";

body{
    width: 100vw;
    height: 100vh;
    background: center;
    background-size : cover;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

